<div class="section education-section">

    <div class="section-heading">
        <p>My background</p>
        <h2>Education & Experience</h2>
    </div>


    <div class="timeline">

        <!-- Education -->

        <div class="timeline-item">

            <div class="timeline-content">

                <span class="timeline-date">
                    2024 - Present
                </span>

                <h3>Bachelor's Degree in Computer Science</h3>

                <h4>Polis University</h4>

                <p>
                    Studying Computer Science with a focus on programming,
                    software development, databases, networking, and
                    cybersecurity.
                </p>
            <br></br>
                <span class="timeline-date">
                     2026 - Present
                </span>
                   

                <h3>42 School Tirana Common-Core student</h3>

                <h4>Academic & Personal Development</h4>

                <p>
                    Working on programming, networking, cybersecurity,
                    and software development projects as part of my
                    academic and personal development.
                </p>

            </div>


        </div>


        <!-- Experience -->

        <div class="timeline-item">

            <div class="timeline-content">

                <span class="timeline-date">
                    Current
                </span>

                <h3>Web Development Intern -ARK IT </h3>

                <h4>Personal Projects</h4>

                <p>
                    Developing web applications and websites while gaining
                    practical experience with frontend, backend, databases,
                    APIs, and version control.
                </p>

            </div>

        </div>


        <!-- Additional Experience -->

        <div class="timeline-item">

            <div class="timeline-content">
                
                <span class="timeline-date">
                    Additional Experience
                </span>

                <h3>Frontend Development Intern-Dominusoft</h3>

                <h4>Academic & Personal Development</h4>

                <p>
                   Completed a one month internship at Dominusoft
                   Academy where I worked on a website.Learned the 
                   basic steps of development such as designing,
                   coding and deploying.
                </p>
                <br></br>
                <span class="timeline-date">
                     06.05.2026-15.05.2026
                </span>

                <h3>Erasmus+ BIP participant </h3>

                <h4>Academic & Personal Development</h4>

                <p>
                   Participated in the Erasmus+ BIP “Twin transition
                   for sustainable futures: shaping an inclusive green
                   and digital transformation.” Held in IPCB,Portugal.                                                                                                              
                </p>
            </div>

            

        </div>

    </div>

</div>