<nav class="navbar">

    <div class="navbar-container">

        <a href="#home" class="logo">
            Esli.
        </a>


        <button
            class="menu-toggle"
            aria-label="Open navigation menu"
        >
            ☰
        </button>


        <ul class="nav-links">

            <li>
                <a href="#home">Home</a>
            </li>

            <li>
                <a href="#about">About</a>
            </li>

            <li>
                <a href="#skills">Skills</a>
            </li>

            <li>
                <a href="#projects">Projects</a>
            </li>

            <li>
                <a href="#education">Education</a>
            </li>

            <li>
                <a href="#contact">Contact</a>
            </li>

        </ul>
        <button
            class="theme-toggle"
            type="button"
            aria-label="Toggle dark mode"
        >
            🌙
        </button>
    </div>

</nav>